# Virtual Environment
venv/
env/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables & secrets
.env

# Airflow local DB & logs
airflow/airflow.db
airflow/logs/
logs/

# IDE settings
.vscode/
.idea/

# Notes / Personal link files
prjct claude link.txt