# Virtual Environment
venv/
env/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables & secrets
.env

# Airflow local DB & logs
airflow/airflow.db
airflow/logs/
logs/

# IDE settings
.vscode/
.idea/

# Notes / Personal link files
prjct claude link.txt


# Spark Checkpoints & Local Data
data/
logs/
__pycache__/
*.pyc

# dbt generated profiles & local state
dbt/.user.yml
dbt/trade_surveillance/target/
dbt/trade_surveillance/dbt_packages/
dbt/trade_surveillance/logs/

# Environment & Python
.env
venv/
.venv/